<div class="container" ng-controller="apiController">
	<div class="container" ng-init="init()">
		<div class="row whitebackground">
			<div class="col-md-8">
				<h1>API</h1>
				<p class="lead">Ontwikkelaar? Maak gratis gebruik van onze database!</p>
				<div class="apideel">
					Het is mogelijk om alle smartphones in de database uit te lezen. Dit kan via onderstaande link.
					<blockquote>
						<p><span class="get">GET</span><a class="awithoutstyle" href="http://localhost/API/smartphones.php">http://www.smartphonespecificaties.nl/API/smartphones</a></p>
					</blockquote>
				</div>
				<div class="apideel">
					Om een overzicht te krijgen van alle merken in de database kan er een beroep worden gedaan via onderstaande link.
					<blockquote>
						<p><span class="get">GET</span><a class="awithoutstyle" href="http://localhost/API/merken.php">http://www.smartphonespecificaties.nl/API/merken</a></p>
					</blockquote>
				</div>
			</div>
			<div class="col-md-4">
				<img src="img/smartphones.png" id="smartphonesimg">	
			</div>
		</div>
	</div>
</div> <!-- /container -->
